# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# Logs
*.log
**/logs
**/*.log

# --- Api (.NET) ---
Api/[Bb]in/
Api/[Oo]bj/
Api/.vs/
Api/*.user
Api/*.suo
Api/*.userprefs
**/appsettings.Development.json
Api/appsettings.*.json.local
Api/*.db
Api/*.pdb
Api/*.cache
Api/TestResults/
Api/.idea/


# --- App (React/Node) ---
App/node_modules/
App/build/
App/dist/
App/.env
App/.env.*
App/.eslintcache
App/.parcel-cache/
App/.turbo/
App/.next/
App/.cache/
App/coverage/
App/test-results/
App/playwright-report/
App/.DS_Store
App/.vscode/
App/.idea/
App/.npm/
App/.yarn/
App/.pnp*
App/.sass-cache/
App/.storybook/
App/.tmp/
App/.env.local
App/.env.development.local
App/.env.test.local
App/.env.production.local
App/yarn.lock
App/pnpm-lock.yaml
App/tsconfig.tsbuildinfo


# --- Docs ---
Docs/ValidXmlResponses/
Docs/Guides/

# --- Deployment ---
deploy.config
*.config.local
nginx/nginx.conf
nginx/nginx-https.conf
nginx/nginx-api.conf
nginx/nginx-stubserver.conf

# --- Seq ---
seq-data/


# --- Tests ---
Tests/**/[Bb]in/
Tests/**/[Oo]bj/
Tests/**/.vs/
Tests/**/*.user
Tests/**/*.suo
Tests/**/TestResults/
Tests/Integration/*.txt

